@import "../../vars.css";

.container {
    margin: 80px 10%;
    color: var(--color-text);
}

.title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 1.75px;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
}

.card {
    background: linear-gradient(180deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.imgSrc {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    object-fit: cover;
}

.projectTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.projectDescription {
    text-align: center;
    font-size: 16px;
    color: #efefef;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    list-style: none;
}

.skill {
    background-color: var(--color-dark);
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 14px;
}

.linksContainer {
    display: flex;
    gap: 20px;
}

.linkBtn {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: 600;
    transition: background 0.3s;
}

.linkBtn:hover {
    background-color: var(--color-secondary);
}