@import "../../vars.css";

.scrollTopBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: rgba(87, 108, 188, 0.5); /* Glassy Primary */
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 24px;
}

.scrollTopBtn:hover {
    background: var(--color-primary);
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(87, 108, 188, 0.6);
}

@media screen and (max-width: 830px) {
    .scrollTopBtn {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}