@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

/* Background Glow Effect */
.container::before {
    content: "";
    position: absolute;
    width: 20vw;
    height: 20vw;
    background: var(--color-primary);
    border-radius: 50%;
    top: -100px;
    left: -100px;
    filter: blur(100px);
    opacity: 0.5;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.titleTyping {
    font-size: 60px;
    font-weight: 900;
    background: linear-gradient(90deg, rgb(181, 14, 222) 70%, rgba(188, 31, 141, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation-name: typing;
    overflow: hidden;
    text-wrap: nowrap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.title {
    font-size: 76px;
    font-weight: 900;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    margin-top: 20px;
    font-family: var(--font-roboto);
}

.heroImg {
    width: 40%;
    height: auto;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(87, 108, 188, 0.3);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes floating {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 5px);
    }
    100% {
        transform: translate(0px, -0px);
    }
}

.contactBtn {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 16px 26px;
    margin-top: 52px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contactBtn:hover {
    transform: scale(1.05);
    background-color: var(--color-secondary);
}

@media screen and (max-width:830px) {
    .container {
        flex-direction: column-reverse;
    }

    .title {
        text-align: center;
    }

    .titleTyping {
        text-align: center;
    }

    .description {
        text-align: center;
    }

    .content {
        align-items: center;
    }

    .heroImg {
        width: 70%;
    }
}