@import "../../vars.css";

.footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: var(--color-text);
    opacity: 0.6;
    font-size: 14px;
    margin-bottom: 20px;
}