@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
    padding-top: 100px; /* Pushes content down so it's not hidden behind navbar */
}

/* Ambient Background Blobs */
.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -100px;
    left: -100px;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.4);
    filter: blur(100px);
    z-index: 0;
    animation: moveTop 15s infinite alternate ease-in-out;
}

.bottomBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    bottom: -100px;
    right: -100px;
    border-radius: 764px;
    background: rgba(87, 108, 188, 0.4);
    filter: blur(100px);
    z-index: 0;
    animation: moveBottom 18s infinite alternate ease-in-out;
}

@keyframes moveTop {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100px, 100px);
    }
}

@keyframes moveBottom {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100px, -100px);
    }
}