@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    color: var(--color-text);
    overflow: hidden;
    position: relative;
    padding-top: 100px; /* Space for fixed navbar */
}