* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-outfit);
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
}