* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-outfit);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 6px;
  border: 3px solid var(--color-bg); /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary);
}

/* Text Selection Color */
::selection {
  background: var(--color-primary);
  color: white;
}