:root {
    /* Colors */
    --color-text: #ffffff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Gradients */
    --color-gradient: linear-gradient(90deg, #576cbc 0%, #132a53 100%);

    /* Fonts */
    --font-roboto: "Roboto", sans-serif;
    --font-outfit: "Outfit", sans-serif;
}